.sorting {
  background-color: rgb(122, 124, 255);
  border:2px solid rgb(0, 0, 0);
  -moz-box-shadow: 2px 2px 2px rgb(24, 24, 24);
  -webkit-box-shadow: 2px 2px 2px rgb(24, 24, 24);
  box-shadow: 2px 2px 2px rgb(24, 24, 24);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
